html, body { width:1200px; height:100%; margin:0px auto; background-color:#f4f4f4;}

a {
    text-decoration : none;
    color:black;
}

#head {
    width:100%;
    height : 100px;
    text-align:center;
    vertical-align:middle;
    display:table;
    background-color:white;
    border:1px solid #f4f4f4;
}

#contents {
    margin-top : 10px;
    height : 690px;
}

.nav {
    margin-right : 10px;
    float : left;
    height : 100%;
    width : 216px;
    border-left : 1px solid #f4f4f4;
    border-right: 3px solid #f4f4f4;
}

.stock {
    height:65px;
    width : 216px;
    margin : 0px auto;
    border-bottom:1px solid;
    box-sizing: border-box;
    border-color:#f4f4f4;
    display:flex;
    justify-content : center;
    align-items : center;
    border-collapse: collapse;
    background-color:white;
}

.content {
    float:right;
    width : 970px;
    height : 100%;
}

#container {
    margin-right:10px;
    height: 400px;
    width : 500px;
}

#newslist{
    height:300px;
    width : 480px;
    display : flex;
    background-color:white;
}

.list{
    border : 1px solid #f4f4f4;
    width : 240px;
}

#top {
    display : flex;
    width: 100%;
}

#bottom {
    margin-top: 10px;
    display : flex;
    width: 100%;
    height : 400px;
}

#word {
    width: 480px;
    height : 100%;
    border : 1px solid #f4f4f4;
    margin-right:10px;
}

.emotion {
    text-align : center;
    font-size: 18px;
    background-color:white;
}

#title {
    font-size:18px;
    text-align : center;
    background-color:white;
}

.news {
    border-top: 1px solid #f4f4f4;
    display:flex;
}

.newstitle {
    width:100%;
}
.score {
    width: 48px;
    text-align : center;
}

#result {
    width : 480px;
    height : 100px;
    background-color: white;
}

.text {
    height : 30px;
    text-align : center;
}

#result_text {
    height : 40px;
    text-align : center;
}