html, body { width:1200px; height:100%; margin:0px auto; background-color:#f4f4f4;}

#head {
    width:100%;
    height : 100px;
    text-align:center;
    vertical-align:middle;
    display:table;
    background-color:white;
    border:1px solid #f4f4f4;
}

#main {
    margin-top : 10px;
    width:100%;
    height :100%;
    display:flex;
}
#content {
    width:800px;
    height :800px;
    margin-right: 10px;
}
#news {
    overflow:scroll;
    width:100%;
    height:600px;
    background-color:white;
    margin-bottom : 10px;

}
#class {
    width:100%;
    height:200px;
    display:flex;
}


#side {
    width:400px;
    height :800px;
}

.word {
    width:100%;
    height :400px;
    background-color:white;
    margin-bottom:10px;
}

.emotion {
    width: 400px;
    height : 100%;
    background-color:white;
}
#positive {
    margin-right: 10px;
}
